<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/media.css" rel="stylesheet">
    <title id="title-page"></title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="body dark">
    <header id="item-navbar" class="navbar">
    </header>
    <main>
        <div class="container">
            <div class="p-4">
                <h1 id="title"></h1>
            </div>
            <div>
                <button onclick="window.location.href='CriarAgendamento'" class="btn-custom">Adicionar agendamento</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-light" scope="col">Nome</th>
                        <th class="text-light" scope="col">Dia</th>
                        <th class="text-light" scope="col">Horário</th>
                    </tr>
                </thead>
                <tbody id="content-agendamentos">
                    <tr>
                        <td colspan="3">
                            <button onclick="window.location.href='pag10.html'" class="btn-custom">Adicionar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script type="module" src="../js/pages/AcademiaPage.js"></script>
    </main>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/utils/Navbar.js"></script>

</body>
</html>
