<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Ilicon-The-Circus-Strong-bear.16.png" type="image/x-icon">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/media.css" rel="stylesheet">
    <script src="../js/utils/Navbar.js"></script>
    <title>Golden House GYM</title>
</head>
<body class="body dark">
    <header id="item-navbar" class="navbar">
    </header>

    <main class="main">
        <aside>
            <h2 class="title"><span>Cadastrar Usuário</span></h2>
            <form class="form">
                <input class="input_text" type="text" placeholder="Nome">
                <input class="input_text" type="text" placeholder="CPF">
                <input class="button input_text" type="submit" value="Cadastra >">
            </form>
        </aside>

        <article>
            <img src="../assets/fitness-tracker-animate.svg" alt="Academia">
        </article>
    </main>

</body>
</html>
