<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Ilicon-The-Circus-Strong-bear.16.png" type="image/x-icon">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/media.css" rel="stylesheet">
    <title>Golden House GYM</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>Bem-vindo a</h1>
            <h1>Golden House</h1>
        </div>

        <ul>
            <a href="Home1.html"><li>Início</li></a>
            <a href="Academias.html"><li>Academias</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>Contato</li></a>
            <a href="#" id="inscreva-se-btn"><li>Já tem uma conta?</li></a>
        </ul>
    </header>

    <main>
        <aside>
            <h2><span>Cadastre-se agora</span></h2>
            <h2>na Golden House</h2>
            <p>
                Atendendo às demandas dos moradores que estavam frustrados por encontrar a academia lotada, decidimos criar um sistema de registro de horários para que os nossos moradores possam marcar seus respectivos horários na academia!
            </p>
            <form>
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="CPF">
                <input type="submit" value="Enviar >">
            </form>
        </aside>

        <article>
            <img src="../assets/fitness-tracker-animate.svg" alt="Academia">
        </article>
    </main>
    
</body>
</html>